* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kaushan Script", cursive;
  outline: none;
}
.navbar {
  padding: 0 6%;
  background-color: #000b0d;
}
.nav-link {
  color: #dddddd;
  border-bottom: 2px solid transparent;
  font-weight: bold;
  transition: 0.5s ease;
  margin-left: 2rem;
  text-align: center;
}
.nav-link:hover {
  color: #e3371e;
  border-bottom: 2px solid #e3371e;
}
#main {
  padding: 2rem 6%;
  background-color: #000b0d;
  color: #dddddd;
}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
}
.main-content h1 {
  text-align: center;
}
footer {
  padding: 1rem 6%;
  background-color: #000b0d;
  color: #dddddd;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer ul {
  list-style: none;
  display: flex;
  gap: 2rem;
}
footer ul li a {
  color: #dddddd;
  text-decoration: none;
}

@media (max-width: 900px) {
  .navbar {
    padding: 0 2%;
  }
  #main {
    padding: 2rem 2%;
  }
  footer {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 2%;
  }
  footer p {
    font-size: 1rem;
    order: 2;
  }
}
